@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #252329;
    --secondary-color: #120f13;
    --tertiary-color: #3c393f;
  }

  * {
    font-family: 'Noto Sans', sans-serif;
  }

  body {
    background-color: var(--primary-color);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c;
  }
}
