@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #252329;
    --secondary-color: #1d1c1d;
  }

  * {
    font-family: 'Noto Sans', sans-serif;
  }

  body {
    background-color: var(--primary-color) !important;
  }
}
